.sticky-not {
  position: inherit;
}
.sticky-top {
  position: fixed;
  top: 0;
}
.sticky-bottom {
  position: fixed;
  bottom: 0;
}
.sticky-left {
  position: fixed;
  left: 0;
}
.sticky-right {
  position: fixed;
  right: 0;
}
